.allpadding {
	padding: 20px;
}

.fullwidth {
	width: 100%;
}

.namesize {
	font-size: 26px;
}

ion-slide {
	max-height: 45vh;
	overflow: hidden;
	padding-bottom: 35px;
}

ion-avatar {
	width: 30%;
	height: 30%;
}

ion-list-header {
	font-size: 24px;
}
